<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        body {
            background-image: url('https://image.freepik.com/free-photo/front-view-pile-books-with-copy-space_23-2148255858.jpg');
            background-size: 98%;
            background-repeat: no-repeat;
        }
        
        .logo {
            border-radius: 55px 0px 55px 0px;
            text-align: center;
            margin-top: 45vh;
            font-size: medium;
        }
    </style>
</head>

<body>
    <h1 class="logo">
        <button type="submit">SignUp</button>
        <button type="submit">LogIn</button>
    </h1>
</body>


</html>